:root {
    --background-color: white;
    --gray-background-color: 205, 205, 205;
    --colorblack: black;
    --colorwhite: white;
    --colorblue: #042baa;
    --colorlightblue: #2443a7;
}

body {
    background-color: var(--background-color);
}

/* Loader styles */
.loader {
    border: 3px solid #0075ff; /* Light gray */
    border-top: 3px solid #ffffff; /* Blue */
    border-radius: 50%;
    width: 20px;
    aspect-ratio: 1/1;
    animation: spin 1s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

/* Animation for spinning effect */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.hidden {display: none;}

.flex {display: flex;}

.jc-sb {justify-content: space-between;}

.grid {display: grid;}

.hidden_visibility {visibility: hidden;}

.loader-if-remember-login {
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: grid;
    place-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.after-login-container {
    display: none;
    width: 100vw;
    height: 100vh;
    position: absolute;
    margin: 0;
    padding: 0;
}

button#logoutButton {
    position: absolute;
    left:0;
    bottom: 0;
    width: 70px;
    height: 50px;
}

iframe#webtool2 {
    width: calc(100vw - 80px);
    height: 100vh;
    box-sizing: border-box;
    border: none;
    padding: 0;
    margin: 0;
    user-select: all;
    pointer-events:all;
    z-index: 100000;
}

#iframwebtool2-container {display: none;}

.right-tools {
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    user-select: none;
    pointer-events: none;
}

.right-tools-container {
    background-image: url('image/background/yellow-sky.png');
    background-size: cover; /* Điều chỉnh kích thước hình nền để bao phủ toàn bộ phần tử */
    background-position: center; /* Căn giữa hình nền */
    background-repeat: no-repeat;
    height: 100%;
    width: 50px;
    transition: 0.3s all;
    margin: 0;
    padding: 0;
    isolation: isolate;
    gap: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    user-select: auto;
    pointer-events: all;
    overflow-x: hidden;
}

.right-tools-container::-webkit-scrollbar {width: 0;}

.right-tools-container:hover {
    width: 80px;
}

.right-tools-container>:first-child, .right-tools-container>:last-child {
    position: sticky;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    color:black;
    transition: 0.3s all;
}

.right-tools-container>:first-child {
    margin-bottom: 0;
    top:0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    height: 100px;
    background-color: #fffdd0;
}


.right-tools-container>:last-child {
    margin: 0;
    bottom: 0;
    box-shadow: 4px -8px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    height: 80px;
    background-image: url('image/background/yellow-sky.png');
    background-size: 1000%;
    background-position: left bottom;
    background-repeat: no-repeat;
}

.right-tools-container>:nth-child(2) {
    margin-top: 20px;
}

.right-tools-container > :not(:first-child):not(:last-child) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.3s all;
}

.ToolBar::after {content: "Tools";}

.right-tools-container:hover .ToolBar::after {content: "ToolBar"}

.ToolBar, .ToolBar::after, .right-tools-container:hover .ToolBar::after {
    font-weight: bold;
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

.a-tool-box {
    width: 100%;
    aspect-ratio: 1/1;
    background-color: transparent;
    box-sizing: border-box;
    padding: 5%;
    margin: 0;
    margin-bottom:50px;
    user-select: auto;
    pointer-events: all;
    display: flex;
    justify-content: center;
    align-items: center;
}

.a-tool-box >* {width:100%}

.right-tools-background {
    width: 100%;
    height: 100%;
    user-select: none;
    pointer-events: none;
}

.Converter_time_container, .My_To-Do-List_container, .calculator_container, .lichtruccuoituan_container {
    height: auto;
    width: auto;
    max-width: 500px;
    font-size: 1rem;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 3px solid rgb(255, 255, 0);
    box-shadow: rgb(0,0,0,0.7) 5px 10px 50px ,rgb(0,0,0,0.7) -5px 0px 250px;
    color: black;
    background-color: rgba(255, 255, 255, 0.9);
    user-select: none;
    pointer-events: all;
    padding: 20px;
    position: absolute;
    transform: translate(-50%, 0);
    left: 50%;
    top: 5%;
}

#Now-hour-time-in-store, #Now-minute-time-in-store, #store-am-pm, #hour-time-they-choose, #minute-time-they-choose, #customer-am-pm {
    width: 30px;
    height: 25px;
    text-align: center;
    font-size: 0.8rem;
    appearance: none;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 7px;
}

.Converter_time_container input:focus, .Converter_time_container select:focus {outline: none;}

.son_of_Converter_time_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 40px;
}

.time_container {
    width: auto;
    height: auto;
}

.Converter_time_container_subject, .My_To-Do-List_subject, .Calculator_container_subject, .lichtruccuoituan_container_subject {
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 15px;
    border-bottom: 3px solid black;
}

.My_To-Do-List_container {
    display: none;
    width: 100%;
    height: 600px;
    overflow: hidden;
}


.My_To-Do-List_content {
    width: 100%;
    height: 550px;
    overflow: hidden;
    overflow-y: scroll;
    padding: 5px 5px 0px 5px;
}


.My_To-Do-List_content >span {user-select: text;}


.My_To-Do-List_content >span >* >* >:nth-child(2) {
    line-height: 2;
    width: 430px;
    padding-inline: 1px;
    padding-right: 0;
    box-sizing: border-box;
    display: inline-block;
}

#must-to-do-list-container, #my-To-do-list-personal-fetch-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

#must-to-do-list-container {margin-top: 15px;}

#must-to-do-list-container > *, #my-To-do-list-personal-fetch-container >* {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 33px;
    line-height: 2rem;
}

div#b4-To-do-list-content {
    width: auto;
    height: auto;
    padding: 0;
    margin: 15px 0 0 0;
    background: var(--background-color);
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: 1px solid black;
    position: sticky;
    bottom: 0;
}

.To-Do-Line-item {
    padding: 5px 0px 5px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(var(--gray-background-color), 0.7);
    color: var(--colorblack);
    border-radius: 5px;
}

.smalldiv {
    width: 20px;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    gap: 10px;
}

.charCountDiv {
    margin: 0;
    padding: 0 2px 0 0;
    font-size: 0.65rem;
    line-height: 1;
    height: auto;
    width: 48px;
    color: #555;
    user-select: none;
    pointer-events: none;
    -webkit-user-select: none;
    text-align: right;
    display: none;
    bottom: 0;
    right: 20px;
    position: absolute;
}

/* Đỏ là quan trọng
Cam là quá ngày
Vàng gold là tới ngày hôm nay
Xanh lá cây là chỉnh sửa */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
.To-Do-toi-ngay-hom-nay, .To-Do-qua-ngay, .To-Do-Quan-Trong, .To-Do-Chinh-Sua, .To-Do-CountDown-to-Delete {
    background-size: 5px 5px;
    background-position: -5px -5px;
    position: relative;
    overflow: visible;
    border-radius: 5px;
}

.To-Do-toi-ngay-hom-nay {
    background-color: #4fc2e9;
    color: black;
}

.To-Do-qua-ngay {
    background-color: #FFA500;
    color: black;
}

.To-Do-Quan-Trong {
    background-color: #ff1515;;
    color: white;
    font-weight: bold;
}

.To-Do-Chinh-Sua {
    background-color: #32af01;
    color: black;
}

.To-Do-Quan-Trong::before {
    content: "IMPORTANT";
    color: red;
    border-color: red;
}

.To-Do-toi-ngay-hom-nay::before {
    content: "TODAY";
    color: #4fc2e9;
    border-color: #4fc2e9;
}

.To-Do-qua-ngay::before {
    content: "LATE";
    color: #FFA500;
    border-color: #FFA500;
}

.To-Do-Chinh-Sua::before {
    content: "EDITING";
    color: #32af01;
    border-color: #32af01;
}

.To-Do-toi-ngay-hom-nay::before, .To-Do-qua-ngay::before, .To-Do-Quan-Trong::before, .To-Do-Chinh-Sua::before {
    position: absolute;
    top: 0;
    right: 20%;
    transform: translate(50%, -50%);
    font-size: 0.75rem;
    font-weight: bold;
    pointer-events: none;
    width: auto;
    height: auto;
    line-height: 1;
    border: 1px solid;
    padding: 1px 2px 0px 2px;
    border-radius: 4px;
    background: var(--background-color);
    box-shadow: 0 0 0 4px var(--background-color);
}

.To-Do-CountDown-to-Delete {
    position: relative;
    animation: fadeout 0.6s ease-in 14s;
}

.To-Do-CountDown-to-Delete::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 0%;
    background: #0077ffcb;
    animation: run-right-to-left 14s linear, big-small 1s linear 14s;
    border-radius: 5px;
    right: 0;
    top: 0;
}

@keyframes run-right-to-left {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

@keyframes big-small {
    0% {
        height: 100%;
        width: 100%;
        transform: translate(-50%,-50%);
        left:50%;
        top:50%;
    }
    100% {
        height: 0%;
        width: 100%;
        transform: translate(-50%,-50%);
        left:50%;
        top:50%;
    }
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

#nguyen-nhan-chan-edit {
    visibility: hidden;
    position: absolute;
    color: white;
    right:20px;
    top: 25px;
    max-width: 180px;
    height: 20px;
    background-color: #32af01;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:
        0 0 5px rgba(50, 175, 1, 0.5),
        0 0 10px rgba(50, 175, 1, 0.5),
        0 0 15px rgba(50, 175, 1, 0.5),
        0 0 20px rgba(50, 175, 1, 0.5);
    animation: glow 1s ease-in-out infinite;
}

@keyframes glow {
    0% {
        box-shadow:
            0 0 5px rgba(50, 175, 1, 0.5),
            0 0 10px rgba(50, 175, 1, 0.5),
            0 0 15px rgba(50, 175, 1, 0.5),
            0 0 20px rgba(50, 175, 1, 0.5);
    }
    50% {
        box-shadow:
            0 0 8px rgba(50, 175, 1, 1),
            0 0 15px rgba(50, 175, 1, 0.9),
            0 0 20px rgba(50, 175, 1, 0.8),
            0 0 25px rgba(50, 175, 1, 0.8);
    }
    100% {
        box-shadow:
           0 0 5px rgba(50, 175, 1, 0.5),
            0 0 10px rgba(50, 175, 1, 0.5),
            0 0 15px rgba(50, 175, 1, 0.5),
            0 0 20px rgba(50, 175, 1, 0.5);
    }
}

.reminder-button-container {
    width: 120px;
    height: 60px;
    display: none;
    color: black;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 196, 87);
    border: 1px solid var(--colorblack);
    border-radius: 5px;
    position: absolute;
    right: 30px;
    top: 0;
    padding: 5px;
    margin: 0;
    transform: translate(0,-30%);
    font-size: 0.8rem;
    box-shadow: 4px 4px 0 rgba(var(--gray-background-color), 0.9);
}

.reminder-button-container>* {
    height: 20px;
    width: 100%;
    box-sizing: border-box;
}

.reminder-button-container input {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.75rem;
    text-align: center;
}

.reminder-button-container>:first-child {
    height: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    font-weight: bold;
    user-select: none;
    pointer-events: none;
    -webkit-user-select: none;
}

.HopChuacacNut {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.NutCaiReminder, .NutHuyReminder, .NutTroLai {
    width: 57.5px;
    height: 20px;
    background-color: orangered;
    box-sizing: border-box;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 0 black;
}

.NutTroLai {display: flex;}

.NutCaiReminder, .NutHuyReminder {display: none;}

.NutCaiReminder::after {content: "Set";}

.NutHuyReminder::after {content: "Cancel";}

.NutTroLai::after {content: "Back";}

.Muiten {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 10px solid orangered;
    border-bottom: 10px solid transparent;
    z-index: 1;
    right: 0%;
    top: 0%;
    transform: translate(130%, 100%);
}


div#Current-Number-of-To-do-list {
    margin-block: 10px;
    width: 100%;
    text-align: right;
    font-weight: bold;
}

div#Add-To-do-list-content {
    color: var(--colorblack)!important;
    display: block;
    align-items: center;
    justify-content: start;
    border: none!important;
    min-height: 2rem;
    width: 460px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    overflow-x: hidden;
    overflow-y: hidden;
    outline: none;
    box-sizing: border-box;
}

div#Add-To-do-list-content:focus ~ div > .gray-delete-icon {display: flex; right: 56px!important}

.To-do-list_checkbox {
    background-color: transparent;
    outline: none;
    transform: scale(1.2);
    padding-inline: 2px;
    box-sizing: border-box;
}

.b4smalldiv_in_MyToDoList {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.movearea {
    width: 100%;
    height: 15px;
    background-color: yellow;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 12px 12px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    cursor: move;
}

.movearea::before, .movearea::after {
    content: "";
    height: 3px;
    margin: 0;
    background-color: transparent;
}

.movearea::before {
    width: calc(100% - 18px);
    margin-top: 2.5px;
    border-top: 1px solid black;
}

.movearea::after {
    width: calc(100% - 8px);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}









#calculator {
    width: 300px;
    height: 300px;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
    user-select: none;
    box-sizing: border-box;
}

.input_calculator {
    width: 100%;
    height: 40px;
    text-align: right;
    font-size: 1.5rem;
    padding: 5px;
    border: 4px solid orangered;
    background-color: white;
    color:black;
    box-sizing: border-box;
    border-radius: 10px;
}

.input_calculator:focus {
    outline: none
}

.error-message {
    color: red;
    text-align: right;
    min-height: 30px;
}

.calculator-sign-and-number-big-container {
    width: 100%;
    display: flex;
    gap: 2px;
    justify-content: center;
    align-items: start;
}

.calculator-sign-and-number-small-container {
    width: 100%;
    display: flex;
    gap: 2px;
    flex-direction: column;
}

.calculator-sign-and-number-small-container > div {
    display: flex;
    flex-direction: row;
    gap: 2px;
}

.calculator-sign-and-number-small-container > button, .calculator-sign-and-number-small-container > * > button {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-sizing: border-box;
    background-color: orange;
    box-shadow: 0 2px 2px black;
    transition: 0.1s all;
}

.calculator-sign-and-number-small-container > button:active, .calculator-sign-and-number-small-container > * > button:active {
    transform: translate(0,5px);
    box-shadow: none;
}

.calculation_sign{background-color:orangered!important}

#history-of-calculator {
    width: 100%;
    aspect-ratio: 2/1;
    padding: 0.3vw;
    border-radius: 0.5vw;
    border: 0.2vw solid orange;
    display: flex;
    flex-direction: column;
    background-color: white;
    color:black;
    user-select: none;
    box-sizing: border-box;
    font-size: 1.5vw;
    overflow-x:scroll;
    overflow-y:scroll;
    text-align: left;
    text-wrap:wrap;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: wheat;
    border-radius: 1vw; /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
    background-color: orangered; /* Color of the scrollbar thumb */
    border-radius: 1vw; /* Roundness of the scrollbar thumb */
}








.lichtruccuoituan_container {
    max-width: 1040px;
    max-height: 550px;
    overflow: hidden;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 15px;
}

.Chinh-sua-cap-nhat-lichtruccuoituan {
    display: flex;
    width: 310px;
    height: auto;
    gap: 10px;
}


#sua-o-cuoi-cung-trong-sheet, #sua-o-dau-tien-trong-sheet, #sua-ten-sheet, #updateA1Btn, #Show-all-in-lichtruc-container, #refresh-lichtruc {
    width: 70px;
    height: 2rem;
    background-color: rgb(255, 207, 118);
    border-radius: 10px;
    padding: 8px;
    box-sizing: border-box;
    border: none;
    outline: none;
    color: black;
    text-align: left;
}

#sua-ten-sheet {width: 100px;}

#updateA1Btn, #Show-all-in-lichtruc-container, #refresh-lichtruc {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 60px;
    font-size: 0.8rem;
    box-shadow: 5px 5px 0 orangered;
    transform: translate(-5px,-5px);
    border: 1px solid orangered;
}

#Show-all-in-lichtruc-container{margin-left: 10px;}

#updateA1Btn:hover, #Show-all-in-lichtruc-container:hover, #refresh-lichtruc:hover {
    color: red;
    box-shadow: 5px 5px 0 red;
    transition: 0.3s all;
}

#updateA1Btn:active, #Show-all-in-lichtruc-container:active, #refresh-lichtruc:active {
    box-shadow: 0 0 0 red;
    transform: translate(0,0);
    transition: 0.2s all;
}

#sua-ten-sheet::placeholder, #sua-o-cuoi-cung-trong-sheet::placeholder, #sua-o-dau-tien-trong-sheet::placeholder {font-size: 0.7rem; text-align: center;}

#status-of-updating-lichtruc-container {
    width: auto;
    max-width: 100%;
    height: 2rem;
    font-size: 0.8rem;
    background-color: orangered;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    padding-inline: 5px;
}

#lich-truc-cuoi-tuan-view {
    width: auto;
    height: 1000px;
    overflow: auto;
    align-items: center;
}


#lich-truc-cuoi-tuan-view > table {
    table-layout: fixed;
    border-collapse: collapse;
    width: auto;
    height: auto;
}


#lich-truc-cuoi-tuan-view > table > * > * > th, #lich-truc-cuoi-tuan-view > table > * > * > td:is(:first-child) {
    font-size: 0.8rem;
    border: 1px solid black;
    text-align: center;
    word-wrap: break-word; 
}

#lich-truc-cuoi-tuan-view > table > * > * > td:not(:first-child) {
    font-size: 0.7rem;
    border: 1px solid black;
    text-align: center;
    word-wrap: break-word; 
}

#lich-truc-cuoi-tuan-view > table > * > tr:nth-child(odd) {
    background-color: rgb(200, 200, 200); height: 2rem;
}

#lich-truc-cuoi-tuan-view > table > * > tr:nth-child(even) {
    background-color: #ffffff; height: 2rem;
}

#lich-truc-cuoi-tuan-view > table > thead, #lich-truc-cuoi-tuan-view > table > thead > * > th  {
    background-color: #FCA510;
    position: sticky;
    top: 0;
    border: 1px solid black;
    padding: 2px;
    padding-top: 5px;
}

#lich-truc-cuoi-tuan-view > table > * > * > th, #lich-truc-cuoi-tuan-view > table > * > * > td {
    min-width: 70px;
    max-width: 80px;
}

#main-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

#header-main-container {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding-inline: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--colorwhite);
}

#header-main-container > * {
    height: 6vh;
    min-width: 6vh;
    box-sizing: border-box;
    padding: 10px;
    color: var(--colorblack);
    display: flex;
    align-items: center;
    user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
    position: relative;
}

#header-main-container > :first-child {
    height: 100%;
    aspect-ratio: 1;
}

#header-main-container label {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#header-main-container > div > label {
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-main-container input[type="checkbox"] {
    display: none;
}

#header-main-container input[type="checkbox"]:checked + .header-container {
    display: flex;
}

#clocks-input:checked + .header-container {
    display: grid!important;
}

.classforclocks {
    transform: translate(-50%, -50%) scale(5)!important;
    position: fixed!important;
    left: 50%!important;
    top: 50%!important;
    grid-template-columns: repeat(2, 1fr)!important;
    gap: 10px;
}

#website-title {
    color: var(--colorblue);
}


.WEB-TOOL-SUPPORTING-CUSTOMER {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.WEB-TOOL-SUPPORTING-CUSTOMER::after {
    content: 'WEB-TOOL SUPPORTING CUSTOMER';
    font-size: 2.5rem;
}

@media (max-width: 1350px) {
    .WEB-TOOL-SUPPORTING-CUSTOMER::after {
        content: 'WEB-TOOL';
        font-size: clamp(1rem,5vw,2rem);
    }

    #clock-container {display: none;}
}

.header-container {
    width: auto;
    height: auto;
    padding: 10px;
    background-color: var(--colorwhite);
    position: absolute;
    top: calc(6vh + 10px);
    left: 50%;
    display: none;
    flex-direction: column;
    animation: opacity 0.3s linear;
    transform: translateX(-50%);
    border-radius: 10px;
    box-shadow: 0 0 5px var(--colorblack);
    cursor: auto;
}

@keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.gap {
    gap: 10px;
}

.Open-button {
    min-width: 100px;
    min-height: 50px;
    background-color: var(--colorwhite);
    border: 1px solid var(--colorblack);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-style: normal;
    text-decoration: none;
    color: var(--colorblue);
    cursor: pointer;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    transform: translate(-2px, -2px);
    box-shadow: 4px 4px 0 orangered;
    transition: 0.3s all;
}

.Open-button:active {
    transform: translate(2px, 2px);
    box-shadow: 0 0 0 orangered;
}

.Open-button:hover {
    background-color: var(--colorblue);
    color: var(--colorwhite);
}

.combo {
    background-color: var(--colorlightblue);
    color: white;
}

#Find-Customers {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#Find-Customers * {
    font-size: 1.2rem;
    padding: 0;
    margin: 0;
    width: 245px;
    height: 50px;
    outline: none;
    box-sizing: border-box;
    cursor: auto;
    border-radius: 5px;
}

#Find-Customers label, #Find-Customers label > span {
    user-select: none;
    -webkit-user-select: none;
    pointer-events: none;
    cursor: none;
    position: absolute;
    padding-inline: 15px;
    margin-inline: 10px;
    height: auto;
    width: auto;
    top: 0;
    background-color: var(--colorblue);
    color: white;
    font-size: 1rem;
}

#Find-Customers label > span {
    position: relative;
    padding-inline: 0;
    margin-inline: 0;
}

#Find-Customers input {
    border: 2px solid;
    text-align: center;
    padding: 10px 5px;
    height: 40px;
    background-color: var(--colorwhite);
    color: var(--colorblack);
    border-color: var(--colorblack);
}

#Find-Customers button {
    cursor: pointer;
}

.small-Find-Customers {
    position: relative;
    display: flex;
    align-items: end;
}

.middle {
    left: 50vw;
}

.transparent {
    background-color: transparent;
    border: none;
    box-shadow: none;
}

#body-main-container {
    width: 100%;
    height: 88%;
    background-color: var(--colorwhite);
    color: var(--colorblack);
}

#footer-main-container {
    width: 100%;
    height: 6%;
    /* height: 60%; */
    background-color: var(--colorblue);
    display: flex;
}

#fetchSMSFromManagers, #fetchSMSFromPersonal {
    height: 100%;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

#fetchSMSFromManagers {
    width: auto;
}

#fetchSMSFromPersonal {
    background-color: #af015870;
    width: 100%;
}

.columnB {
    min-width: 200px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    cursor: pointer;
}

.columnB::before {
    content: attr(data-group-title);
}

.columnB:hover .columngroupC {display: flex;}

.columngroupC {
    background-color: var(--colorblue);
    width: 100%;
    display: none;
    flex-direction: column;
    position: absolute;
    transform: translateY(-100%);
    top: 0;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px 10px 0 0;
    gap: 10px;
}

.columnC {
    width: 100%;
    cursor: url('image/cursor/copy-cursor.svg'), auto;
    background-color: var(--colorlightblue);
    box-shadow: 2px 2px 5px black;
    border-radius: 5px;
    transition: 0.3s all;
}

.columnC:active {
    box-shadow: 0 0 0 black;
    transform: translate(2px,2px);
}

.columnA {
    width: 80%;
    outline: none;
    text-align: center;
    border-radius: 5px;
    color: white;
    background-color: var(--colorlightblue);
}

#fetch-check-id-information {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#fetch-check-id-information > * {
    flex: 1 1 calc((100% - 20px) / 3);
    box-sizing: border-box;
}


.check-id-information-container {
    width: 400px;
    height: auto;
    padding: 10px;
    gap: 10px;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--colorblue);
}

input#lock-combo-activate {display: none;}

label.lock-combo-activate {
    width: 20px;
    height: 20px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.paste-button {
    width: auto;
    aspect-ratio: 1;
    background-color: white;
}

#input-the-text-for-check-info {
    outline: none;
    width: 100%;
}

#lock-on {display: none;}

input#lock-combo-activate:checked + label.lock-combo-activate>#lock-off {
    display: none;
}

input#lock-combo-activate:checked + label.lock-combo-activate>#lock-on {
    display: inline;
}

input#lock-combo-activate:checked ~ #input-the-text-for-check-info, input#lock-combo-activate:checked ~ .paste-button {
    background-color: gray;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    pointer-events: none;
    cursor: pointer;
}

h2 {
    text-align: left;
    word-wrap: break-word;
    word-break: break-word; 
}

.gap10 {gap: 10px}

.input-checkbox-Open-button {
    position: absolute;
    top: -10px;
    left: calc(50% - 2px);
    transform: translate(-50%,0%) scale(1.5);
    outline: none;
}